.banner {
    background-image: url('../../public/banner-home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f9db79;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 100px;
    color: #ffffff;
    text-shadow: 3px 5px 2px #474747;
}



.container_card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.box_card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card_info {
    width: 50%;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card_info h2 {
    font-size: 36px;
    text-align: center;
}

.card_info h4 {
    font-size: 20px;
}

.card_info p {
    width: 70%;
    font-size: 16px;
    text-align: center;
}

.img_sabores {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .banner h1 {
        text-align: center;
    }

    .card {
        width: 50%;
        height: 62vh;
    }

    .card_info {
        height: 62vh;
    }
}



@media (max-width: 768px) {
    .banner h1 {
        text-align: center;
    }

    .container_card {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .card_info {
        width: 100%;
    }

    .card_info p {
        width: 100%;
    }
}

@media (max-width: 428px) {
    .banner {
        justify-content: center;
        height: 70vh;
        margin-top: 192px;
    }

    .banner h1 {
        font-size: 50px;
        text-align: center;
    }

    .container {
        max-width: 100%;
        top: 49%;
    }

    .container h1 {
        font-size: 40px;
    }


    .card {
        height: 100%;
    }
}