.topo {
    width: 100%;
    padding: 0px 20px;
    background-color: #f9db79;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
}

.container_topo {
    max-width: 1024px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links_topo {
    display: flex;
    gap: 40px;
}

.link_topo {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.img_logo {
    width: 100px;
    height: 100px;
}

.botao {
    border: none;
    background-color: #f9db79;
    display: none;
}

@media (max-width: 428px) {
    .topo {
        flex-direction: row;
    }

    .links_topo {
        display: none;
    }

    .container_topo {
        justify-content: space-between;
        gap: 20px;
    }

}

@media (max-width: 768px) {
    .links_topo {
        border-top: 1px solid grey;
        justify-content: space-between;
        padding: 20px 10px;
        width: 100%;
        display: none;
    }

    .container_topo {
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
    }

    .botao {
        display: block;
        color: #BA7531;
        cursor: pointer;
        position: fixed;
        padding: 10px;
        top: 20px;
        right: 10px;
    }

}